Cloud/flows.json
[{"id":"629296ea.0ec6e","type":"tab","label":"Environmental","disabled":false,"info":" - Subscribe to the environmental topics of thingID=1\n - Save the report values to the database\n - Visualize the values of the report"},{"id":"ee78fabf.e84c3","type":"tab","label":"Button","disabled":false,"info":" - Subscribe to the button topic of thingID=1\n - Save the report values to the database\n - Visualize the values of the report"},{"id":"8bd94ebd.5b263","type":"tab","label":"Test Database","disabled":false,"info":""},{"id":"7f913f1b.483c78","type":"mqtt-broker","z":"","name":"","broker":"MQTT_ADDR","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"7bc292e1.46d83c","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"EESTech Challenge 2018-2019","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"6663ee30.110798","type":"ui_tab","z":"","name":"ThingID: 1","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"9c117858.8d18c8","type":"ui_group","z":"","name":"env-charts","tab":"6663ee30.110798","order":4,"disp":false,"width":"6","collapse":false},{"id":"1d08b89a.cb2dbf","type":"ui_group","z":"","name":"env2-texts","tab":"6663ee30.110798","order":2,"disp":false,"width":"6","collapse":false},{"id":"8daded81.536708","type":"ui_group","z":"","name":"btn","tab":"6663ee30.110798","order":3,"disp":false,"width":"6","collapse":false},{"id":"bd096a13.d56af","type":"ui_group","z":"","name":"env1-texts","tab":"6663ee30.110798","order":1,"disp":false,"width":"6","collapse":false},{"id":"f09ebc0d.cfeae8","type":"ui_group","z":"","name":"env-gauges","tab":"6663ee30.110798","order":5,"disp":false,"width":"6","collapse":false},{"id":"4817eb07.0440f4","type":"ui_group","z":"","name":"","tab":"be5a3df2.649b1","disp":true,"width":"6","collapse":false},{"id":"be5a3df2.649b1","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"71560c5a.d5f80c","type":"MySQLdatabase","z":"","host":"MYSQL_ADDR","port":"3306","db":"MYSQL_DB_NAME","tz":""},{"id":"aefc2a51.7a4f08","type":"mqtt in","z":"629296ea.0ec6e","name":"","topic":"1/env1","qos":"2","datatype":"auto","broker":"7f913f1b.483c78","x":113,"y":523,"wires":[["f65207d8.857a08"]]},{"id":"6a8d2ef2.14db6","type":"debug","z":"629296ea.0ec6e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":733,"y":523,"wires":[]},{"id":"f65207d8.857a08","type":"json","z":"629296ea.0ec6e","name":"","property":"payload","action":"","pretty":false,"x":313,"y":523,"wires":[["ff2b1698.225a08","30179316.03f3ec","967529b6.54fd3","b224e5f1.0cabf","b6c58af.8fadaf8"]]},{"id":"ff2b1698.225a08","type":"function","z":"629296ea.0ec6e","name":"","func":"msg.payload = msg.payload.HMD\nreturn msg;","outputs":1,"noerr":0,"x":533,"y":523,"wires":[["6a8d2ef2.14db6","2aaec071.b83508","2d7f6609.a29472"]]},{"id":"18ef30db.208d0f","type":"debug","z":"629296ea.0ec6e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":733,"y":663,"wires":[]},{"id":"967529b6.54fd3","type":"function","z":"629296ea.0ec6e","name":"","func":"msg.payload = msg.payload.PRS\nreturn msg;","outputs":1,"noerr":0,"x":533,"y":663,"wires":[["18ef30db.208d0f","71e491e6.ad53d8","809dc5d8.60c7d8"]]},{"id":"ece508df.5ae68","type":"debug","z":"629296ea.0ec6e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":733,"y":383,"wires":[]},{"id":"30179316.03f3ec","type":"function","z":"629296ea.0ec6e","name":"","func":"msg.payload = msg.payload.TMP\nreturn msg;","outputs":1,"noerr":0,"x":533,"y":383,"wires":[["ece508df.5ae68","7c8a2e7e.7b5d","1d881d0f.eedd83"]]},{"id":"f508a412.7af568","type":"mqtt in","z":"ee78fabf.e84c3","name":"","topic":"1/btn","qos":"2","datatype":"auto","broker":"7f913f1b.483c78","x":120,"y":374,"wires":[["531a7267.5c30fc"]]},{"id":"531a7267.5c30fc","type":"json","z":"ee78fabf.e84c3","name":"","property":"payload","action":"","pretty":false,"x":320,"y":374,"wires":[["74a0c434.fdafd4","388256c4.e6c61a","fda91c08.9bf478"]]},{"id":"56d63dc9.6f48e4","type":"debug","z":"ee78fabf.e84c3","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":720,"y":374,"wires":[]},{"id":"74a0c434.fdafd4","type":"function","z":"ee78fabf.e84c3","name":"","func":"msg.payload = msg.payload.BTN\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":374,"wires":[["56d63dc9.6f48e4","2e36ca2.28105b6"]]},{"id":"2e36ca2.28105b6","type":"ui_text","z":"ee78fabf.e84c3","group":"8daded81.536708","order":3,"width":"0","height":"0","name":"Button","label":"Button:","format":"{{msg.payload}}","layout":"row-left","x":720,"y":334,"wires":[]},{"id":"7c8a2e7e.7b5d","type":"ui_text","z":"629296ea.0ec6e","group":"bd096a13.d56af","order":2,"width":0,"height":0,"name":"","label":"Temperature: ","format":"{{msg.payload}} °C","layout":"row-left","x":743,"y":343,"wires":[]},{"id":"2aaec071.b83508","type":"ui_text","z":"629296ea.0ec6e","group":"bd096a13.d56af","order":3,"width":0,"height":0,"name":"","label":"Humidity: ","format":"{{msg.payload}} %","layout":"row-left","x":743,"y":483,"wires":[]},{"id":"71e491e6.ad53d8","type":"ui_text","z":"629296ea.0ec6e","group":"bd096a13.d56af","order":4,"width":0,"height":0,"name":"","label":"Pressure: ","format":"{{msg.payload}} hPa","layout":"row-left","x":743,"y":623,"wires":[]},{"id":"6f9dd4ef.230d14","type":"debug","z":"629296ea.0ec6e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":733,"y":1093,"wires":[]},{"id":"ea75320d.6701b","type":"function","z":"629296ea.0ec6e","name":"","func":"msg.payload = msg.payload.PRX\nreturn msg;","outputs":1,"noerr":0,"x":533,"y":1093,"wires":[["6f9dd4ef.230d14","50fd651.4c3401c"]]},{"id":"50fd651.4c3401c","type":"ui_text","z":"629296ea.0ec6e","group":"1d08b89a.cb2dbf","order":2,"width":0,"height":0,"name":"","label":"Proximity: ","format":"{{msg.payload}}","layout":"row-left","x":743,"y":1053,"wires":[]},{"id":"2c75239.4039c5c","type":"debug","z":"629296ea.0ec6e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":733,"y":1233,"wires":[]},{"id":"d4c9b1bf.076ed8","type":"function","z":"629296ea.0ec6e","name":"","func":"msg.payload = msg.payload.AMB\nreturn msg;","outputs":1,"noerr":0,"x":533,"y":1233,"wires":[["2c75239.4039c5c","b16b075e.2fb4f8","32e92574.b90ef2"]]},{"id":"b16b075e.2fb4f8","type":"ui_text","z":"629296ea.0ec6e","group":"1d08b89a.cb2dbf","order":3,"width":0,"height":0,"name":"","label":"Ambient Light: ","format":"{{msg.payload}} lux","layout":"row-left","x":743,"y":1193,"wires":[]},{"id":"bcefaedb.71ff8","type":"mqtt in","z":"629296ea.0ec6e","name":"","topic":"1/env2","qos":"2","datatype":"auto","broker":"7f913f1b.483c78","x":113,"y":1153,"wires":[["dbfbc210.b9f408"]]},{"id":"dbfbc210.b9f408","type":"json","z":"629296ea.0ec6e","name":"","property":"payload","action":"","pretty":false,"x":313,"y":1153,"wires":[["ea75320d.6701b","d4c9b1bf.076ed8","db17863f.cb8d68","e4e6b41f.fe1848"]]},{"id":"b224e5f1.0cabf","type":"function","z":"629296ea.0ec6e","name":"","func":"msg.payload = msg.payload.TIMESTAMP\nreturn msg;","outputs":1,"noerr":0,"x":533,"y":245,"wires":[["eeae6964.940c98","33384847.19e4b8"]]},{"id":"eeae6964.940c98","type":"debug","z":"629296ea.0ec6e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":733,"y":245,"wires":[]},{"id":"33384847.19e4b8","type":"ui_text","z":"629296ea.0ec6e","group":"bd096a13.d56af","order":1,"width":0,"height":0,"name":"","label":"Timestamp: ","format":"{{msg.payload}}","layout":"row-left","x":733,"y":207,"wires":[]},{"id":"388256c4.e6c61a","type":"function","z":"ee78fabf.e84c3","name":"","func":"msg.payload = msg.payload.TIMESTAMP\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":274,"wires":[["6b1ac869.659ad","95e32df5.5540a"]]},{"id":"6b1ac869.659ad","type":"debug","z":"ee78fabf.e84c3","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":720,"y":274,"wires":[]},{"id":"95e32df5.5540a","type":"ui_text","z":"ee78fabf.e84c3","group":"8daded81.536708","order":1,"width":0,"height":0,"name":"","label":"Timestamp: ","format":"{{msg.payload}}","layout":"row-left","x":720,"y":236,"wires":[]},{"id":"1d881d0f.eedd83","type":"ui_chart","z":"629296ea.0ec6e","name":"","group":"9c117858.8d18c8","order":1,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":733,"y":305,"wires":[[]]},{"id":"809dc5d8.60c7d8","type":"ui_chart","z":"629296ea.0ec6e","name":"","group":"9c117858.8d18c8","order":3,"width":0,"height":0,"label":"Pressure","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":743,"y":585,"wires":[[]]},{"id":"db17863f.cb8d68","type":"function","z":"629296ea.0ec6e","name":"","func":"msg.payload = msg.payload.TIMESTAMP\nreturn msg;","outputs":1,"noerr":0,"x":533,"y":957,"wires":[["7534e8d2.697a18","388b6e7a.8ecfea"]]},{"id":"7534e8d2.697a18","type":"debug","z":"629296ea.0ec6e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":733,"y":957,"wires":[]},{"id":"388b6e7a.8ecfea","type":"ui_text","z":"629296ea.0ec6e","group":"1d08b89a.cb2dbf","order":1,"width":0,"height":0,"name":"","label":"Timestamp: ","format":"{{msg.payload}}","layout":"row-left","x":733,"y":919,"wires":[]},{"id":"2d7f6609.a29472","type":"ui_gauge","z":"629296ea.0ec6e","name":"","group":"f09ebc0d.cfeae8","order":0,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"","format":"{{value}}%","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":743,"y":445,"wires":[]},{"id":"32e92574.b90ef2","type":"ui_gauge","z":"629296ea.0ec6e","name":"","group":"f09ebc0d.cfeae8","order":0,"width":0,"height":0,"gtype":"gage","title":"Ambient Light","label":"lux","format":"{{value}}","min":0,"max":"16383","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":743,"y":1153,"wires":[]},{"id":"78f7770.18a0c08","type":"mysql","z":"629296ea.0ec6e","mydb":"71560c5a.d5f80c","name":"env1","x":743,"y":93,"wires":[[]]},{"id":"b6c58af.8fadaf8","type":"function","z":"629296ea.0ec6e","name":"","func":"id = null\nthing_id = msg.payload.THING_ID\ntimestamp = msg.payload.TIMESTAMP\ntmp = msg.payload.TMP\nhmd = msg.payload.HMD\nprs = msg.payload.PRS\nmsg.topic = \"INSERT INTO env1 (id,thing_id,timestamp,tmp,hmd,prs) VALUES (\"+null+\",\"+thing_id+\",\"+\"'\"+timestamp+\"'\"+\",\"+tmp+\",\"+hmd+\",\"+prs+\")\";\nreturn msg;","outputs":1,"noerr":0,"x":533,"y":93,"wires":[["78f7770.18a0c08","3986dcdd.8ea3d4"]]},{"id":"3986dcdd.8ea3d4","type":"debug","z":"629296ea.0ec6e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":743,"y":153,"wires":[]},{"id":"c684dbc4.f1fc2","type":"mysql","z":"ee78fabf.e84c3","mydb":"71560c5a.d5f80c","name":"btn","x":720,"y":114,"wires":[[]]},{"id":"fda91c08.9bf478","type":"function","z":"ee78fabf.e84c3","name":"","func":"id = null\nthing_id = msg.payload.THING_ID\ntimestamp = msg.payload.TIMESTAMP\nbtn = msg.payload.BTN\nmsg.topic = \"INSERT INTO btn (id,thing_id,timestamp,btn) VALUES (\"+null+\",\"+thing_id+\",\"+\"'\"+timestamp+\"'\"+\",\"+\"'\"+btn+\"'\"+\")\";\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":114,"wires":[["c684dbc4.f1fc2","599e63ce.a6a2c4"]]},{"id":"599e63ce.a6a2c4","type":"debug","z":"ee78fabf.e84c3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":730,"y":174,"wires":[]},{"id":"56fed639.4dd02","type":"mysql","z":"629296ea.0ec6e","mydb":"71560c5a.d5f80c","name":"env2","x":733,"y":793,"wires":[[]]},{"id":"e4e6b41f.fe1848","type":"function","z":"629296ea.0ec6e","name":"","func":"id = null\nthing_id = msg.payload.THING_ID\ntimestamp = msg.payload.TIMESTAMP\nprx = msg.payload.PRX\namb = msg.payload.AMB\nmsg.topic = \"INSERT INTO env2 (id,thing_id,timestamp,prx,amb) VALUES (\"+null+\",\"+thing_id+\",\"+\"'\"+timestamp+\"'\"+\",\"+\"'\"+prx+\"'\"+\",\"+amb+\")\";\nreturn msg;","outputs":1,"noerr":0,"x":533,"y":793,"wires":[["56fed639.4dd02","31edb56f.741a62"]]},{"id":"31edb56f.741a62","type":"debug","z":"629296ea.0ec6e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":733,"y":859,"wires":[]},{"id":"59aed78e.8e6bd","type":"debug","z":"8bd94ebd.5b263","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":987,"y":380,"wires":[]},{"id":"7ed2da20.178c6c","type":"function","z":"8bd94ebd.5b263","name":"","func":"msg.topic='SELECT * FROM env1 ORDER BY id DESC LIMIT 1'\nreturn msg;","outputs":1,"noerr":0,"x":346,"y":266,"wires":[["4c0ffd36.f4403c"]]},{"id":"62037f23.ee856","type":"debug","z":"8bd94ebd.5b263","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":987,"y":460,"wires":[]},{"id":"d3fa2bd5.285188","type":"debug","z":"8bd94ebd.5b263","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":987,"y":300,"wires":[]},{"id":"337d1f9.8c2e46","type":"inject","z":"8bd94ebd.5b263","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":156,"y":266,"wires":[["7ed2da20.178c6c"]]},{"id":"4c0ffd36.f4403c","type":"mysql","z":"8bd94ebd.5b263","mydb":"71560c5a.d5f80c","name":"env1","x":526,"y":266,"wires":[["43e07e5d.46861","6082f5cf.f1cd94","ef6c9858.1318e","fb6f3c45.d7e04","cf0dc16.51a7dc","417246e.8154db8","6fa3d43c.d3d524"]]},{"id":"43e07e5d.46861","type":"function","z":"8bd94ebd.5b263","name":"","func":"msg.payload = msg.payload[0].tmp\nreturn msg;","outputs":1,"noerr":0,"x":787,"y":300,"wires":[["d3fa2bd5.285188"]]},{"id":"6082f5cf.f1cd94","type":"function","z":"8bd94ebd.5b263","name":"","func":"msg.payload = msg.payload[0].hmd\nreturn msg;","outputs":1,"noerr":0,"x":787,"y":380,"wires":[["59aed78e.8e6bd"]]},{"id":"ef6c9858.1318e","type":"function","z":"8bd94ebd.5b263","name":"","func":"msg.payload = msg.payload[0].prs\nreturn msg;","outputs":1,"noerr":0,"x":787,"y":460,"wires":[["62037f23.ee856"]]},{"id":"8911b010.db38c","type":"debug","z":"8bd94ebd.5b263","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":983,"y":964,"wires":[]},{"id":"5ccd2865.933188","type":"debug","z":"8bd94ebd.5b263","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":983,"y":1384,"wires":[]},{"id":"9468ccd.3e6ed3","type":"debug","z":"8bd94ebd.5b263","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":983,"y":864,"wires":[]},{"id":"73cf662e.328088","type":"function","z":"8bd94ebd.5b263","name":"","func":"msg.payload = msg.payload[0].prx\nreturn msg;","outputs":1,"noerr":0,"x":783,"y":864,"wires":[["9468ccd.3e6ed3"]]},{"id":"51f11c4d.1bb45c","type":"function","z":"8bd94ebd.5b263","name":"","func":"msg.payload = msg.payload[0].amb\nreturn msg;","outputs":1,"noerr":0,"x":783,"y":964,"wires":[["8911b010.db38c"]]},{"id":"c283aae5.097ef","type":"function","z":"8bd94ebd.5b263","name":"","func":"msg.payload = msg.payload[0].btn\nreturn msg;","outputs":1,"noerr":0,"x":783,"y":1384,"wires":[["5ccd2865.933188"]]},{"id":"c813afd9.9ac94","type":"debug","z":"8bd94ebd.5b263","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":987,"y":231,"wires":[]},{"id":"990f8758.0062d8","type":"debug","z":"8bd94ebd.5b263","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":987,"y":151,"wires":[]},{"id":"fb6f3c45.d7e04","type":"function","z":"8bd94ebd.5b263","name":"","func":"msg.payload = msg.payload[0].thing_id\nreturn msg;","outputs":1,"noerr":0,"x":787,"y":151,"wires":[["990f8758.0062d8"]]},{"id":"cf0dc16.51a7dc","type":"function","z":"8bd94ebd.5b263","name":"","func":"msg.payload = msg.payload[0].timestamp\nreturn msg","outputs":1,"noerr":0,"x":787,"y":231,"wires":[["c813afd9.9ac94"]]},{"id":"f5f2113a.6f64b8","type":"debug","z":"8bd94ebd.5b263","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":987,"y":75,"wires":[]},{"id":"417246e.8154db8","type":"function","z":"8bd94ebd.5b263","name":"","func":"msg.payload = msg.payload[0].id\nreturn msg;","outputs":1,"noerr":0,"x":787,"y":75,"wires":[["f5f2113a.6f64b8"]]},{"id":"6fa3d43c.d3d524","type":"function","z":"8bd94ebd.5b263","name":"","func":"msg.payload = msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":212,"y":391,"wires":[["93de7bd1.75d9f"]]},{"id":"93de7bd1.75d9f","type":"debug","z":"8bd94ebd.5b263","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":412,"y":391,"wires":[]},{"id":"2c6ab83f.1e6818","type":"inject","z":"8bd94ebd.5b263","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":153,"y":804,"wires":[["12d6bb70.8d6ab5"]]},{"id":"12d6bb70.8d6ab5","type":"function","z":"8bd94ebd.5b263","name":"","func":"msg.topic='SELECT * FROM env2 ORDER BY id DESC LIMIT 1'\nreturn msg;","outputs":1,"noerr":0,"x":343,"y":804,"wires":[["85273e2a.f17c38"]]},{"id":"85273e2a.f17c38","type":"mysql","z":"8bd94ebd.5b263","mydb":"71560c5a.d5f80c","name":"env2","x":523,"y":804,"wires":[["1d8b9fdf.2ed0c8","d8700123.cb4008","31c12aa6.cf5156","aa5a33da.2f6","73cf662e.328088","51f11c4d.1bb45c"]]},{"id":"aa5a33da.2f6","type":"function","z":"8bd94ebd.5b263","name":"","func":"msg.payload = msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":209,"y":929,"wires":[["38d0f4f6.316fec"]]},{"id":"38d0f4f6.316fec","type":"debug","z":"8bd94ebd.5b263","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":409,"y":929,"wires":[]},{"id":"31c12aa6.cf5156","type":"function","z":"8bd94ebd.5b263","name":"","func":"msg.payload = msg.payload[0].id\nreturn msg;","outputs":1,"noerr":0,"x":784,"y":613,"wires":[["1c41a1bb.212476"]]},{"id":"1c41a1bb.212476","type":"debug","z":"8bd94ebd.5b263","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":984,"y":613,"wires":[]},{"id":"1d8b9fdf.2ed0c8","type":"function","z":"8bd94ebd.5b263","name":"","func":"msg.payload = msg.payload[0].thing_id\nreturn msg;","outputs":1,"noerr":0,"x":784,"y":689,"wires":[["e808cff9.956b48"]]},{"id":"e808cff9.956b48","type":"debug","z":"8bd94ebd.5b263","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":984,"y":689,"wires":[]},{"id":"d8700123.cb4008","type":"function","z":"8bd94ebd.5b263","name":"","func":"msg.payload = msg.payload[0].timestamp\nreturn msg","outputs":1,"noerr":0,"x":784,"y":769,"wires":[["ede96d6b.275bc8"]]},{"id":"ede96d6b.275bc8","type":"debug","z":"8bd94ebd.5b263","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":984,"y":769,"wires":[]},{"id":"be929a5d.5a5e58","type":"inject","z":"8bd94ebd.5b263","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":153,"y":1324,"wires":[["1613f91f.c0e857"]]},{"id":"1613f91f.c0e857","type":"function","z":"8bd94ebd.5b263","name":"","func":"msg.topic='SELECT * FROM btn ORDER BY id DESC LIMIT 1'\nreturn msg;","outputs":1,"noerr":0,"x":343,"y":1324,"wires":[["a9458ab8.06add8"]]},{"id":"a9458ab8.06add8","type":"mysql","z":"8bd94ebd.5b263","mydb":"71560c5a.d5f80c","name":"btn","x":523,"y":1324,"wires":[["5e0f8939.da42d8","bf6d444.0361cb8","b3dbca08.70ea6","23279bfb.efcaec","c283aae5.097ef"]]},{"id":"23279bfb.efcaec","type":"function","z":"8bd94ebd.5b263","name":"","func":"msg.payload = msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":209,"y":1449,"wires":[["d81c3674.f54b48"]]},{"id":"d81c3674.f54b48","type":"debug","z":"8bd94ebd.5b263","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":409,"y":1449,"wires":[]},{"id":"b3dbca08.70ea6","type":"function","z":"8bd94ebd.5b263","name":"","func":"msg.payload = msg.payload[0].id\nreturn msg;","outputs":1,"noerr":0,"x":784,"y":1133,"wires":[["14de757f.fc485b"]]},{"id":"14de757f.fc485b","type":"debug","z":"8bd94ebd.5b263","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":984,"y":1133,"wires":[]},{"id":"5e0f8939.da42d8","type":"function","z":"8bd94ebd.5b263","name":"","func":"msg.payload = msg.payload[0].thing_id\nreturn msg;","outputs":1,"noerr":0,"x":784,"y":1209,"wires":[["8c24307.0a5885"]]},{"id":"8c24307.0a5885","type":"debug","z":"8bd94ebd.5b263","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":984,"y":1209,"wires":[]},{"id":"bf6d444.0361cb8","type":"function","z":"8bd94ebd.5b263","name":"","func":"msg.payload = msg.payload[0].timestamp\nreturn msg","outputs":1,"noerr":0,"x":784,"y":1289,"wires":[["823f3854.647ef8"]]},{"id":"823f3854.647ef8","type":"debug","z":"8bd94ebd.5b263","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":984,"y":1289,"wires":[]}]
